<div class="row">
  <h2 class="mx-auto ajustar-hacia-abajo colorTitulo">ROL DE ESCUELA SABATICA 2021</h2>
</div>

<table class="table  centered container" (window:resize)="cambioContenedor()">
  <thead class="purple darken-4 colorLetra" >
    <tr>      
      <th class="sujetar">Mes</th>
      <th class="sujetar">Sábado</th>
      <th class="sujetar">Escuela sabatica</th>
      <th class="sujetar">Lección</th>
    </tr>
  </thead>
  <tbody>
    <th rowspan="6" style="vertical-align: middle;" id="enero">Enero</th> 
    <tr>       
      <td>2</td>
      <td>Eutiminio Gonzalez</td>
      <td>Mario Lozano y Abel Moreno</td>      
    </tr>
    <tr>
      <td>9</td>
      <td>Ana Vargas</td>
      <td>Ivan Serna y Fatima Cervantes</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Abel Moreno</td>
      <td>Carlos Ayon y Ruben Gonzalez</td>
    </tr>
    <tr>
      <td>23</td>
      <td>Ramon Alvarez</td>
      <td>Ruben Salazar y Eutiminio Gonzalez</td>
    </tr>
    <tr>
      <td>30</td>
      <td>Yesy Lopez</td>
      <td>Aganetha Dyck y Aracely Melesio</td>
    </tr>
    <th rowspan="5" style="vertical-align: middle;" class="purple  darken-4 colorLetra" id="febrero">Febrero</th>      
    <tr>
      
      <td>6</td>
      <td>Eutiminio Gonzalez</td>
      <td>Abel Moreno y Mario Lozano</td>      
    </tr>
    <tr >
      <td>13</td>
      <td>Ana Vargas</td>
      <td>Ivan Serna y Fatima Cervantes</td>            
    </tr>
    <tr>
      <td>20</td>
      <td>Abel Moreno</td>
      <td>Carlos Ayon y Ruben Gonzalez</td>            
    </tr>
    <tr class="darken-3 colorLetra">
      <td class="purple">27</td>
      <td class="purple">Ramon Alvarez</td>
      <td class="purple">Ruben Salazar y Eutiminio Gonzalez</td>            
    </tr>
    <tr>
      <th rowspan="4" style="vertical-align: middle;" id="marzo">Marzo</th>      
      <td>6</td>
      <td>Yesy Lopez</td>
      <td>Aganetha Dyck y Aracely Melesio</td>      
    </tr>
    <tr>
      <td>13</td>
      <td>Eutiminio Gonzalez</td>
      <td>Abel Moreno y Mario Lozano</td>            
    </tr>
    <tr>
      <td>20</td>
      <td>Ana Vargas</td>
      <td>Ivan Serna y Fatima Cervantes</td>            
    </tr>
    <tr>
      <td>27</td>
      <td>Abel Moreno</td>
      <td>Carlos Ayon y Ruben Gonzalez</td>            
    </tr>    
    <tr>
      <th rowspan="4" style="vertical-align: middle;" id="abril">Abril</th>      
      <td>3</td>
      <td>Ramon Alvarez</td>
      <td>Ruben Salazar y Eutiminio Gonzalez</td>      
    </tr>
    <tr>
      <td>10</td>
      <td>Yesy Lopez</td>
      <td>Aganetha Dyck y Aracely Melesio</td>            
    </tr>
    <tr>
      <td>17</td>
      <td>Eutiminio Gonzalez</td>
      <td>Mario Lozano y Abel Moreno</td>            
    </tr>
    <tr>
      <td>24</td>
      <td>Ana Vargas</td>
      <td>Ivan Serna y Fatima Cervantes</td>            
    </tr>
    <tr>
      <th rowspan="5" style="vertical-align: middle;" id="mayo">Mayo</th>      
      <td>1</td>
      <td>Abel Moreno</td>
      <td>Carlos Ayon y Ruben Gonzalez</td>      
    </tr>
    <tr>
      <td>8</td>
      <td>Ramon Alvarez</td>
      <td>Ruben Salazar y Eutiminio Gonzalez</td>            
    </tr>
    <tr>
      <td>15</td>
      <td>Yesy Lopez</td>
      <td>Aganetha Dyck y Aracely Melesio</td>            
    </tr>
    <tr>
      <td>22</td>
      <td>Eutiminio Gonzalez</td>
      <td>Abel Moreno y Mario Lozano</td>            
    </tr>
    <tr>
      <td>29</td>
      <td>Ana Vargas</td>
      <td>Ivan Serna y Fatima Cervantes</td>            
    </tr>
    <tr>
      <th rowspan="4" style="vertical-align: middle;" id="junio">Junio</th>      
      <td>5</td>
      <td>Abel Moreno</td>
      <td>Carlos Ayon y Ruben Gonzalez</td>      
    </tr>
    <tr>
      <td>12</td>
      <td>Ramon Alvarez</td>
      <td>Ruben Salazar y Eutiminio Gonzalez</td>            
    </tr>
    <tr>
      <td>19</td>
      <td>Yesy Lopez</td>
      <td>Aganetha Dyck y Aracely Melesio</td>            
    </tr>
    <tr>
      <td>26</td>
      <td>Eutiminio Gonzalez</td>
      <td>Abel Moreno y Mario Lozano</td>            
    </tr>
    <tr>
      <th rowspan="5" style="vertical-align: middle;" id="julio">Julio</th>      
      <td>2</td>
      <td>Ana Vargas</td>
      <td>Ivan Serna y Fatima Cervantes</td>      
    </tr>
    <tr>
      <td>9</td>
      <td>Abel Moreno</td>
      <td>Carlos Ayon y Ruben Gonzalez</td>            
    </tr>
    <tr>
      <td>16</td>
      <td>Ramon Alvarez</td>
      <td>Ruben Salazar y Eutiminio Gonzalez</td>            
    </tr>
    <tr>
      <td>23</td>
      <td>Yesy Lopez</td>
      <td>Aganetha Dyck y Aracely Melesio</td>            
    </tr>
    <tr>
      <td>30</td>
      <td>Eutiminio Gonzalez</td>
      <td>Abel Moreno y Mario Lozano</td>            
    </tr>
    <tr>
      <th rowspan="4" style="vertical-align: middle;" id="agosto">Agosto</th>      
      <td>6</td>
      <td>Ana Vargas</td>
      <td>Ivan Serna y Fatima Cervantes</td>      
    </tr>
    <tr>
      <td>13</td>
      <td>Abel Moreno</td>
      <td>Carlos Ayon Y Ruben Gonzalez</td>            
    </tr>
    <tr>
      <td>20</td>
      <td>Ramon Alvarez</td>
      <td>Ruben Salazar y Eutiminio Gonzalez</td>             
    </tr>
    <tr>
      <td>27</td>
      <td>Yesy Lopez</td>
      <td>Aganetha Dyck y Aracely Melesio</td>         
    </tr>    
    <tr>
      <th rowspan="4" style="vertical-align: middle;" id="septiembre">Septiembre</th>      
      <td>6</td>
      <td>Eutiminio Gonzalez</td>
      <td>Abel Moreno y Mario Lozano</td>      
    </tr>
    <tr>
      <td>13</td>
      <td>Ana Vargas</td>
      <td>Ivan Serna y Fatima Cervantes</td>             
    </tr>
    <tr>
      <td>20</td>
      <td>Abel Moreno</td>
      <td>Carlos Ayon Y Ruben Gonzalez</td>            
    </tr>
    <tr>
      <td>27</td>
      <td>Ramon Alvarez</td>
      <td>Ruben Salazar y Eutiminio Gonzalez</td>            
    </tr>    
  </tbody>  

</table>

<br>