titulo {
    height: 60px;
}

a {
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: rgb(255, 169, 45);

}

b{
    color:  rgb(255, 169, 45);
    border-bottom: 100%;
}

.color{
    background: white;
}

img {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.color{
    background:tomato;
}