a {
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: #9a23a5;
}

.ajustar-titulo{
    padding-left: 1em;
}

.sujetar-menu {
    position: fixed;
    z-index: 20;
}

.degradadomenu{
    background: linear-gradient(20deg,#9a23a5,#451da5);
    opacity: 0.9;

}