a {
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: #9ccc65 ;
}

.ajustar-titulo{
    padding-left: 1em;
}

.sujetar-menu {
    position: fixed;
    z-index: 20;
}

.degradadomenu{
    background: linear-gradient(20deg,#5ac000  ,#689f38  );
    opacity: 0.9;

}