<nav>
  <div class="nav-wrapper purple lighten-1">
    <a [routerLink]="['/anuncios']" class="brand-logo flow-text ajustar">Iglesia de Palo Verde</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down center-align">
      <li><a [routerLink]="['/anuncios']"
        routerLinkActive="active">ANUNCIOS</a></li>
      <li><a [routerLink]="['/participaciones']"
        routerLinkActive="active">ROLES DE PARTICIPACIÓN</a></li>
      <li><a [routerLink]="['/participaciones']"
        routerLinkActive="active">RECURSOS</a></li>
      <li ><a ></a>LOGIN</li>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li><a [routerLink]="['/anuncios']"
    routerLinkActive="active">ANUNCIOS</a></li>
  <li><a [routerLink]="['/participaciones']"
    routerLinkActive="active">ROLES DE PARTICIPACIÓN</a></li>
  <li><a [routerLink]="['/participaciones']"
    routerLinkActive="active">RECURSOS</a></li>
</ul>
        

<div class="row">
  <!--CONTENIDO-->


</div>
<div class="container mx-auto" >
  <router-outlet></router-outlet>
</div>


